*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in;
    font-family: 'Quicksand', sans-serif;
    color: #07070a;
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 18px;
    background-color: rgb(55 58 53);
    box-shadow: 4px 4px 4px rgba(50, 53, 46, 0.596);
    
}
#navbar section{
    color: white;
}
.left img{
    width: 40px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.right a{
    text-decoration: none;
}
.left img:hover{
    box-shadow: 2px 2px 2px black;
}
#facebook1 img{
    width: 27px;
    
}
#instagram1 img{
    width: 37px;
}
#twitter1 img{
    margin-left: 2px;
    width: 30px;
}

.centerj{
    justify-content: center;
}
.centera{
    align-items: center;
}
body{
    background-color: #cfcbc8;
}
.fixed-top{
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index: 110;
}
#formSection{
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 30vh;
    background-color: #e6e7e731;
    border: 1px solid rgb(3, 37, 76);
    box-shadow: 2px 2px 15px rgb(3, 37, 76);
}
.formDesign{
    width: 80%;
    padding: 12px;
}
.formBox label{
    color: #341D17;
}
#formSection.active{
    filter: blur(25px);
    pointer-events: none;
    user-select: none;
}
#formSection input{
    margin: 8px;
    padding: 12px 20px;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 3%;
    width: 95%;
    
}
#formSection input:hover{
    box-shadow: 5px 5px 10px rgb(97, 33, 4);
}


#formSection span{
    font-size: 1.2rem;
    color: rgb(255 0 0);
    font-weight: bold;
}
.intro{
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.but{
    text-decoration: solid;
    width: 40px;
    transition: all 0.4s ease;
}

.but:hover{
    text-decoration: solid underline;
    /* box-shadow: #0242ce 5px 10px; */
    background-color: white;
    cursor: pointer;
}
#popUp{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    color: rgb(17, 103, 177);
}
#popUp.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#upload{
    border-radius: 50px;
    /* width: 350px; */
    outline: none;
    cursor: pointer;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
::-webkit-file-upload-button{
    color: white;
    background-color: #9e3e07b2;
    margin-top : 0;
    margin-right: 2em;
    padding: 2px 10px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
}
::-webkit-file-upload-button:hover{
    background-color: #693e0d;
    box-shadow: 1px 0 1px 1px #88510a;
}

.SubmitBut{
    width: 10rem;
    margin: auto;
}
.formBox{
    position: relative;
}
.formBox::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-image: url(/andrew-ridley-jR4Zf-riEjI-unsplash.jpg);
    top:0;
    left:0;
    opacity: 0.9;
    z-index: -2;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#formGender{
    display: flex;
    justify-content: space-around;
    
}
#formGender label{
    position: relative;
    cursor: pointer;
    font-size: 1.3rem;
}
#formGender label input{
    border: solid rgb(0, 0, 0) 2px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    width: 30px;
    height: 40px;
    line-height: 20px;
    margin: 0.2rem 0.3rem;
    border-radius: 50%;
    transform: translateY(0.5rem);
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.4), 2px 2px 6px rgba(0, 0, 0, 0.7);
}
#formGender label input:checked{
    background-color: #e2e2e2; 
}
.formBox p{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}
#popUp p{
    margin-bottom: 3rem;
    margin-top: 1rem;
    color:rgb(9, 64, 71);
}
#popUp h2{
    text-align: center;
    font-weight: bold;
}
#popUp a{
    text-decoration: none;
    padding: 15px;
    background-color: rgb(40, 247, 212);
    cursor: pointer;
}
