*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #ffc25fe0;
    transition: all 0.1s ease-in;
}
#navbar{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 25px 18px;
    background-color: rgba(199, 34, 23, 0.863);
    font-family: 'Open Sans','Inter', sans-serif;
}
#navbar section{
    color: wheat;
}
.centerj{
    justify-content: center;
}
.centera{
    align-items: center;
}
body{
    
    margin: 0;
    padding: 0;
    background-color:#281232;
    z-index: -2;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
#formSection{
    width: 40%;
    margin: auto;
    margin-top: 10vh;
    background-color: #ecc7a0cc;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 15px rgba(188, 255, 2, 0.651);
}
.formDesign{
    width: 45%;
    padding: 12px;
    color:rgb(87, 37, 4);
}
.formBox label{
    color:rgb(0, 0, 0);
}
#formSection.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
#formSection input{
    margin: 8px;
    padding: 12px 20px;
    border: solid #644d34 2px;
    border-radius: 12px;
    background: #300b0b;
    width: 260px;
    
    box-shadow: 5px 5px 10px black;
    
}
.formBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
#formSection span{
    font-size: 22px;
    color: #620606;
    font-weight: 1.5;
}
.intro{
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.but{
    text-decoration: solid;
    width: 40px;
}

.but:hover{
    text-decoration: solid underline;
    cursor: pointer;
}
#popUp{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popUp.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#upload{
    border-radius: 50px;
    box-shadow: 5px 5px 10px black;
    /* width: 350px; */
    outline: none;
}
::-webkit-file-upload-button{
    color: white;
    background-color: #a1660c;
    /* padding: 20px; */
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 1px #6b4599;
    outline: none;
    transition: all 0.2s ease;
}
::-webkit-file-upload-button:hover{
    background-color: #f58d06;
}
input[type= "radio"]{
    display: none;
}
#Gender label{
    position: relative;
    border: 2px solid #a59716;
    border-radius: 5px;
    padding: 20px 20px;
    margin: 10px;
    display: flex;
    width: 200px;
    align-items: center;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
}
#Gender label::after{
    content: " ";
    height: 30px;
    width: 30px;
    border: 3px solid #aaa00f;
    border-radius: 50%;
    margin-left: 50px;
}
input[type="radio"]:checked + label{
    background-color: #0e0d0d;
    color: white;
}
input[type="radio"]:checked + label:after{
    height: 16px;
    width: 16px;
    border: 10px solid white;
    margin-left: 50px; 

}